.textEditor-main {
  color: var(--light-heading);

  .textEditor-toolbar {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--dark-separator);
    border: 1px solid var(--no-focus);

    button {
      border: none;
      background-color: var(--dark-separator);
      font-weight: 600;
    }

    button:hover {
      color: var(--primary);
    }
  }

  .DraftEditor-root {
    border: 1px solid var(--no-focus);
    background-color: white;
    height: 15rem;
    width: 100%;
    overflow-y: auto;
    padding: 1rem;
  }

  .DraftEditor-editorContainer,
  .public-DraftEditor-content {
    height: 100%;
  }

  .DraftEditor-editorContainer {
    color: red;
  }

  .public-DraftEditor-content {
    color: var(--light-heading);
  }

  .textEditor-footer {
    position: relative;
    text-align: right;
    margin-top: 0.75rem;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--light-heading);
  }
}
