.chat-background {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.chat-content {
  background-color: #fefefe;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: grid;
  grid-template-rows: 113px calc(100vh - 113px - 88px) 88px;
}

.chat-content > header {
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
  height: 113px;
}

.chat-content > header > .chat-header-img {
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.chat-content > header > div > .chat-seller-name {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 0.4rem;
}

.chat-content > header > div > .chat-seller-online-status {
  color: var(--no-focus);
  font-size: 0.9rem;
}

.chat-content > header > span > svg {
  position: absolute;
  right: 2rem;
  top: 2.75rem;
  font-size: 1.5rem;
  color: var(--icons);
}

.chat-content > header > span > svg:hover {
  cursor: pointer;
}

.chat-content > main {
  position: relative;
  border-top: 1px solid var(--no-focus);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-content > main > div {
  overflow: scroll;
}

.chat-content > main > div > ul {
  padding: 1rem 1.5rem;
}

.chat-content > main > div > ul > li {
  display: flex;
  align-items: flex-start;
  /* align-items: center; */
  font-size: 0.9rem;
  color: var(--light-heading);
  gap: 0.25rem;
}

.chat-content > main > .chat-show-div > ul {
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-y: auto;
}

.chat-content > main > .chat-show-div > ul > li {
  margin-bottom: 2rem;
}

.chat-content > main > .chat-show-div > ul > li:last-child {
  margin-bottom: 0;
}

.chat-content > main > .chat-show-div > ul > li > img {
  margin-right: 0.5rem;
  width: 2rem;
  border-radius: 50%;
}

.chat-content > main > .chat-show-div > ul > li > svg {
  color: white;
  background-color: var(--no-focus);
  border-radius: 50%;
  border: 2px solid var(--no-focus);
  padding: 0.45rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.chat-content
  > main
  > .chat-show-div
  > ul
  > li
  > div
  > .chat-message-owner-time-div {
  margin-bottom: 0.25rem;
}

.chat-content
  > main
  > .chat-show-div
  > ul
  > li
  > div
  > div
  > .chat-message-owner {
  font-weight: 700;
  color: var(--dark-grey);
}

.chat-content
  > main
  > .chat-show-div
  > ul
  > li
  > div
  > div
  > .chat-message-time {
  font-size: 0.75rem;
  color: var(--heading);
}

.chat-messages-list-sender-files {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.chat-messages-list-sender-file{
  max-width: 10rem;
}

.chat-messages-list-sender-file > p {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 10rem;
  max-height: 12rem;
  min-height: 5rem;
  min-width: 5rem;
  overflow: hidden;
}

.chat-messages-list-sender-file-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  background-color: var(--separator);
  padding: 0.5rem;
}

.chat-messages-list-sender-file-info > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.chat-messages-list-sender-file-info > div:hover {
  cursor: pointer;
  color: var(--primary);
}

.chat-messages-list-sender-file-name {
  max-width: 15ch;
  white-space: nowrap;
  overflow: hidden;
}

.chat-messages-list-sender-file-size {
  text-align: right;
}

.chat-messages-list-sender-video,
.chat-messages-list-sender-image,
.chat-messages-list-sender-file-audio,
.chat-messages-list-sender-file-document {
  max-width: 12rem;
}

.chat-messages-list-sender-file-document {
  background-color: var(--separator);
  width: 12rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 0.25rem;
}

.chat-content > main > .chat-show-div > ul > li > div > .chat-message-text {
  line-height: 1.4;
  white-space: pre-line;
}

.chat-content > main > .chat-suggestion-div > ul > li {
  padding: 0.75rem;
  border: 1px solid var(--dark-separator);
  margin-bottom: 1rem;
  display: inline-flex;
  border-radius: 4px;
  color: var(--dark-grey);
}

.chat-content > main > .chat-suggestion-div > ul > li:hover {
  background-color: var(--dark-separator);
  cursor: pointer;
}

.chat-content > main > form {
  padding: 0 1.5rem;
}

.chat-content > main > form > textarea {
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
  border: none;
  border: 1px solid var(--no-focus);
  border-radius: 3px;
  display: block;
  width: 100%;
  max-height: 8rem;
  line-height: 1.6;
  resize: none;
}

.chat-content > main > form > textarea:focus {
  outline: none !important;
}

.chat-content > main > form > input::placeholder {
  color: var(--no-focus);
}

.chat-content > main > form > .chat-attached-files-div {
  max-height: 124px;
  padding: 1rem 1rem;
  color: var(--light-heading);
  margin-bottom: 1rem;
  overflow-y: scroll;
  border: 1px solid var(--no-focus);
  border-radius: 4px;
}

.chat-content > main > form > .chat-attached-files-div > ul {
}

.chat-content > main > form > .chat-attached-files-div > ul > li {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  list-style: none;
  padding: 0.125rem 0.75rem;
  border-radius: 5px;
  border: 1px solid var(--dark-separator);
  background-color: var(--separator);
  display: inline-flex;
  align-items: center;
  max-width: 200px;
  font-size: 0.9rem;
}

.chat-content > main > form > .chat-attached-files-div > ul > li > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  direction: rtl;
}

.chat-content > main > form > .chat-attached-files-div > ul > li > button {
  margin-left: 0.5rem;
  border: none;
}

.chat-content
  > main
  > form
  > .chat-attached-files-div
  > .chat-attached-files-heading {
  font-size: 10px;
  font-weight: 600;
}

.chat-content > footer {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-content > footer > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chat-emoji,
.chat-attachment {
  font-size: 1.5rem;
  color: var(--light-heading);
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}

.chat-emoji:hover,
.chat-attachment:hover {
  background-color: var(--off-white);
  color: var(--primary);
  cursor: pointer;
}

.chat-emoji > *:hover,
.chat-attachment > *:hover {
  cursor: pointer;
}

.chat-emoji-picker-wrapper {
  position: absolute;
  bottom: 8rem;
}

.chat-content > footer > button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--primary);
  color: white;
  border-radius: 0.25rem;
}

.contact-seller-emoji-picker > div > em-emoji-picker {
  position: absolute;
  top: 200px;
}

@media screen and (min-width: 600px) {
  .chat-content {
    width: 34rem;
    max-width: 600px;
    min-height: 600px;
    height: 90vh;
    margin-top: calc(calc(10vh) / 2);
    margin-left: calc(calc(100vw - 34rem) / 2);
    border-radius: 0.25rem;
    grid-template-rows: 113px calc(90vh - 113px - 88px) 88px;
  }

  .contact-seller-emoji-picker > div > em-emoji-picker {
    position: absolute;
    top: 130px;
  }
}

.disable-hover {
  color: red;
  background-color: red;
}
