<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/styles/output.css" rel="stylesheet" />
  </head>
  <body class="flex justify-center items-center">
    <div class="p-8 mt-20 md:mt-40 col-md-4 offset-md-4">
      <div class="text-center">
        <h2 class="text-4xl">Reset Password</h2>
      </div>
      <form
        action=""
        method="post"
        class="mt-8 flex flex-col gap-6 min-w-[20rem]"
      >
        <div class="flex relative flex-col">
          <label class="mb-1" for="password"> Password </label>
          <input
            id="password"
            type="password"
            name="password"
            class="border border-separate py-2 px-4 pr-12 rounded"
            required
          />
          <p id="show_password" class="absolute bottom-3 uppercase text-xs cursor-pointer text-no_focus right-2">Show</p>
        </div>
        <div class="flex relative flex-col">
          <label class="mb-1" for="confirm_password"> Confirm Password </label>
          <input
            id="confirm_password"
            type="password"
            class="border border-separate py-2 px-4 pr-12 rounded"
            name="confirm_password"
            required
          />
          <p id="show_confirm_password" class="absolute bottom-3 uppercase text-xs cursor-pointer text-no_focus right-2">Show</p>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="px-4 w-full py-2 rounded bg-primary text-white hover:bg-primary_hover hover:cursor-pointer"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </body>
  <script>
    const password = document.getElementById("password");
    const confirm_password = document.getElementById("confirm_password");
    const show_password = document.getElementById("show_password")
    const show_confirm_password = document.getElementById("show_confirm_password")

    show_password.addEventListener("click", () => {
      if(password.type === "text") {
        password.type = "password";
        show_password.innerText = "Show";
        return;
      }
      password.type = "text";
      show_password.innerText = "Hide";
    });

    show_confirm_password.addEventListener("click", () => {
      if(confirm_password.type === "text") {
        confirm_password.type = "password";
        show_confirm_password.innerText = "Show";
        return;
      }
      confirm_password.type = "text";
      show_confirm_password.innerText = "Hide";
    });
  </script>
</html>
