<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/output.css" rel="stylesheet">
</head> 
<body style="display: flex; align-items: center; flex-direction: column;">
    <h1>Welcome <%= username %></h1>
    <p>Thank you for signing up</p>
    <p>Please take a moment to verify yourself</p>
    <a href="">
        <button>Verify</button>
    </a>
</body>
</html>