<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/output.css" rel="stylesheet">
</head>
<body>
    <h1 class="mt-20 text-primary text-5xl flex justify-center items-center"><%= message %></h1>
</body>
</html>