.user-detail-edit-gig {
  display: flex;
  align-items: center;
}

.user-detail-edit-gig > div {
  margin-right: 0.5rem;
  color: #3f63c8;
}

.gig-detail-main-wrapper {
  scroll-behavior: smooth;
}

.gig-details-section {
  padding: 3rem 1.5rem;
  color: var(--dark-grey);
}

.gig-details-gig-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}

.gig-seller-overview {
  display: flex;
  font-size: 0.9rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 0.5rem;
}

.gig-seller-overview-seller-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.gig-details-carousel {
  margin-bottom: 3rem;
}

.gig-details-description-div {
  margin: 1rem 0;
}

.gig-details-description-div > header > h2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.gig-details-description-wrapper {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--light-heading);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--no-focus);
}

.gig-details-description-wrapper > * {
  line-height: 1.6;
}

.gig-details-description-wrapper > ul {
  padding: 0 2rem;
}

.gig-details-description-wrapper > ul > li {
  line-height: 1.5;
}

.gig-owner-details-div {
  padding-top: 2rem;
}

.gig-owner-details-div > header > h2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.gig-owner-profile-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.gig-owner-profile-info-wrapper > .gig-owner-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.gig-owner-profile-info-wrapper > .gig-owner-profile-info > * {
  /* margin-bottom: 0.5rem; */
}

/* .gig-owner-profile-info-wrapper > img {
  width: 35%;
  border-radius: 50%;
  margin-bottom: 1rem;
} */

.gig-owner-name {
  color: var(--icons);
  font-weight: 700;
}

.gig-owner-tagline {
  color: var(--light-heading);
}

.gig-owner-rating-div {
  color: var(--light-heading);
  display: flex;
}

.gig-owner-rating {
  color: var(--gold);
}

.gig-owner-details-div > button {
  width: 100%;
  margin: 2rem 0 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: 1px solid var(--light-heading);
  background-color: white;
  color: var(--icons);
  font-size: 0.9rem;
}

.gig-owner-details-div > button:hover {
  cursor: pointer;
  background-color: var(--icons);
  color: white;
}

.gig-onwer-stats-description {
  padding: 1rem;
  border: 1px solid var(--light-heading);
  border-radius: 3px;
}

.gig-owner-stats {
  border-bottom: 1px solid var(--no-focus);
}

.gig-owner-stats > ul > li {
  list-style: none;
  line-height: 1.5;
  color: var(--light-heading);
  margin-bottom: 1rem;
}

.gig-owner-stats > ul > li > div {
  font-weight: 700;
  padding-top: 0.25rem;
}

.gig-owner-decription {
  padding-top: 1rem;
  color: var(--light-heading);
  line-height: 1.6;
}

.user-detail-review-list > h2 {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.gig-review-rating-wise-division-wrapper {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--dark-separator);
  color: #446ee7;
  font-weight: 600;
}

.gig-review-rating-wise-division-wrapper > ul > li {
  list-style: none;
  display: grid;
  grid-template-columns: 5rem 10rem 3rem;
  align-items: center;
  margin-bottom: 0.25rem;
}

.gig-review-rating-wise-division-wrapper > ul > li:hover {
  cursor: pointer;
}

.gig-review-rating-wise-division-wrapper > ul > li > span {
  padding: 0.35rem;
  border-radius: 4px;
}

.gig-review-rating-wise-division-wrapper > ul > li > span.rating-number:hover {
  background-color: rgb(68, 110, 231, 0.1);
  color: #446ee7;
}

.gig-review-rating-selected {
  color: white;
  background-color: #3f63c8;
}

.gig-review-rating-wise-division-wrapper > ul > li > * {
  margin-right: 0.5rem;
}

.gig-review-rating-wise-division-wrapper > ul > li > svg::before {
  font-family: "Font Awesome 5 Free";
  content: "/f068";
  font-weight: 900;
  color: #ccc;
}

/* Price Section  */
.price-section {
  color: var(--dark-grey);
}

.price-section.small-screen {
  margin: 0 -1.5rem;
}

.price-section.large-screen {
  display: none;
}

.price-navigation > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}

.price-navigation > ul > li {
  color: var(--);
  list-style: none;
  border: 1px solid var(--no-focus);
  width: calc(100% / 3);
  padding: 1.5rem 2rem;
  text-align: center;
  background-color: #fafafa;
  color: var(--icons);
}

.price-navigation > ul > li:first-child {
  border-left: none;
  border-right: none;
}

.price-navigation > ul > li:last-child {
  border-left: none;
  border-right: none;
}

.price-navigation > ul > .price-package-selected {
  background-color: white;
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
}

.price-section-details {
  padding: 1.5rem;
}

.price-section-details > header > h3 {
  min-height: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.price-package-title {
  font-size: 1rem;
  font-weight: 700;
}

.price-package-price {
  font-weight: 400;
  font-size: 1.25rem;
}

.price-section-details > header > p {
  line-height: 1.4;
  color: var(--light-heading);
  font-size: 0.87rem;
  min-height: 4rem;
}

.delivery-revision-div {
  display: flex;
  color: var(--light-heading);
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.package-delivery,
.package-revisions {
  display: flex;
}

.package-delivery > p,
.package-revisions > p {
  margin-left: 0.5rem;
}

.package-revisions {
  margin-left: 1rem;
}

.package-output > ul {
  margin-bottom: 1rem;
}

.package-output > ul > li {
  list-style: none;
  line-height: 1.6;
  color: var(--no-focus);
  font-size: 0.9rem;
}

.package-output > ul > li > svg {
  margin-right: 0.5rem;
  font-weight: 700;
}

.package-output > ul > .package-output-selected > svg {
  color: var(--primary);
}

.price-section-details > footer > button {
  width: 100%;
  display: block;
  border: none;
  padding: 0.75rem 1rem;
  background-color: var(--primary);
  color: white;
  border-radius: 5px;
}

.price-section-details > footer > button:hover {
  background-color: var(--icons);
  cursor: pointer;
}

.price-section-contact-me-button {
  padding: 0.5rem 1.5rem;
  margin-bottom: 2rem;
}

.price-section-contact-me-button > button {
  width: 100%;
  display: block;
  border: none;
  padding: 0.75rem 1rem;
  background-color: #fafafa;
  border: 1px solid var(--icons);
  border-radius: 5px;
}

.price-section-contact-me-button > button:hover {
  background-color: var(--icons);
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .gig-owner-profile-info-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  /* .gig-owner-profile-info-wrapper > img {
    width: 7rem;
    margin-right: 1rem;
  } */

  .gig-owner-profile-info-wrapper > .gig-owner-profile-info > * {
    padding: 0.1rem 0;
  }

  .gig-owner-profile-info-wrapper > .gig-owner-profile-info {
    align-items: flex-start;
  }

  .gig-owner-details-div > button {
    position: relative;
    width: 8rem;
    top: -1rem;
    left: 3.5rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    margin: 2rem 0 0;
  }

  .gig-owner-details-div > button:hover {
    background-color: var(--icons);
    color: white;
  }

  .user-detail-edit-gig {
    top: 6rem;
  }
}

@media screen and (min-width: 900px) {
  .gig-detail-main-wrapper {
    display: flex;
    padding: 2rem;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 3rem;
  }

  .gig-details-section {
    padding: 0;
    width: 100%;
    margin-right: 8%;
  }

  .price-section.large-screen {
    width: 40%;
    height: 30rem;
    display: block;
    border-left: 1px solid var(--no-focus);
    border-right: 1px solid var(--no-focus);
    border-bottom: 1px solid var(--no-focus);
    position: sticky;
    top: 2rem;
  }

  .price-section.small-screen {
    display: none;
  }

  .user-detail-edit-gig {
    /* padding-left: 2rem; */
  }
}
