.select-input-main{
    width: 100%;


    select{
        width: 100%;
        padding: 0.5rem;
        border-radius: 0;
        border: 1px solid var(--no-focus);
        color: var(--icons);
        font-size: 0.85rem;    
    }
    option{
        background-color: white;
    }

    
}