.round-number-icon-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    font-size: 0.8rem;

    .round-number{
        padding: 1rem;
    }
}
