<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Dear <%= username %>,</h1>
    <p>Click the link below to reset your password</p>
    <a href="<%= resetPasswordURL %>">
      <button>Reset Password</button>
    </a>
    <p>or copy paste the below link in your web browser</p>
    <p><%= resetPasswordURL %></p>
  </body>
</html>
