<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link href="./styles/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1 style="color: red" class="text-green-300">Welcome <%= username %></h1>
    <p>Thank you for signing up</p>
    <p>Please take a moment to verify yourself</p>
    <button class="bg-primary px-4 py-1">Verify</button>
  </body>
</html>
