.inbox-main {
  position: relative;
}

.inbox-clients-list {
  position: relative;
}

.inbox-search {
  display: flex;
  padding: 2rem 1.5rem;
  align-items: center;
  border-bottom: 1px solid var(--dark-separator);
}

.inbox-search > input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--no-focus);
  border-radius: 4px;
}

.inbox-search > input::placeholder {
  font-size: 0.9rem;
}

.inbox-search > input:focus {
  outline: none !important;
  border-color: var(--dark-grey);
}

.inbox-search > svg {
  position: absolute;
  right: 2rem;
  color: var(--no-focus);
}

.client-list-ul {
  width: 100%;
}

.client-list-ul > li {
  position: relative;
  display: flex;
  padding: 1.5rem 1.5rem;
  border-bottom: 1px solid var(--dark-separator);
  align-items: center;
  height: 5rem;
  overflow: hidden;
}

.client-list-ul > li:hover {
  cursor: pointer;
}

.client-list-client-profile-image {
  margin-right: 0.75rem;
  position: relative;
}

.client-list-client-profile-image > .client-list-online-status {
  position: absolute;
  top: 36px;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 0.75rem;
  left: 36px;
  width: 0.9rem;
  height: 0.9rem;
}

.client-list-ul
  > li
  > .client-list-client-profile-image
  > .client-name-alphabet-logo {
  border-radius: 50%;
  background-color: var(--no-focus);
  color: white;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.7rem;
}

.client-list-ul > li > .client-list-client-profile-image > img {
  width: 3.125rem;
  border-radius: 50%;
}

.client-list-detail-plus-last-message {
  overflow: hidden;
  width: 100%;
}

.client-list-detail-plus-last-message > .client-list-client-name {
  color: var(--dark-grey);
  font-weight: 700;
  margin-bottom: 0.4rem;
  font-size: 0.875rem;
}

.client-list-last-message {
  font-size: 0.8rem;
  color: var(--light-heading);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client-list-last-message-time {
  font-size: 0.75rem;
  color: var(--no-focus);
  position: absolute;
  right: 1.75rem;
  top: 1.5rem;
}

.inbox-message-list-default {
  display: flex;
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inbox-message-list-default-message-title {
  font-size: 2rem;
  color: var(--light-heading);
  font-weight: 700;
  margin-bottom: 1rem;
}

.inbox-message-list-default-message-body {
  max-width: 300px;
  padding: 0 1.25rem;
  color: var(--no-focus);
  line-height: 1.6;
}

.inbox-message-list {
  position: relative;
  display: grid;
  grid-template-rows: 73px calc(100vh - 144.2px - 60px - 73px) 60px;
}

.inbox-message-list > div > header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-separator);
}

.inbox-message-list > div > header > .inbox-message-list-header-icon > svg {
  font-size: 1.5rem;
  color: var(--icons);
}

.inbox-message-list
  > div
  > header
  > .inbox-message-list-header-icon
  > svg:hover {
  cursor: pointer;
}

.inbox-message-list > div > header > h2 > .inbox-client-name {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-decoration: underline;
  color: var(--dark-grey);
}

.inbox-message-list > div > header > h2 > .inbox-client-name > svg {
  font-size: 0.6rem;
  color: var(--no-focus);
  margin-right: 0.5rem;
}

.currently-selected-client-online-status {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  display: inline-block;
}

.inbox-message-list > div > header > h2 > .inbox-client-name > a:hover {
  opacity: 0.7;
}

.inbox-message-list > div > header > h2 > .client-status {
  font-size: 0.8rem;
  color: var(--light-heading);
  margin-top: 0.25rem;
}

.inbox-message-list > div > ul {
  overflow: hidden;
  overflow-y: auto;
}

.inbox-message-list-info {
  padding: 1rem 0;
  display: flex;
}

.inbox-message-list-user-profile-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.inbox-message-list > div > ul > li > div > svg {
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: var(--no-focus);
  color: white;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  margin-right: 1rem;
}

.inbox-messages-list-sender-name {
  display: inline;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--dark-grey);
}

.inbox-messages-list-sender-date {
  display: inline;
  margin: 0 0.5rem;
  font-size: 0.75rem;
  color: var(--no-focus);
}

.inbox-messages-list-sender-details {
  display: flex;
}

.inbox-messages-list-sender-text {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--light-heading);
  white-space: pre-line;
  display: block;
  width: 100%;
  word-break: break-word;
}

.inbox-messages-list-sender-files {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-top: 1rem;
  gap: 2rem;
  align-items: flex-end;
  justify-content: space-around;
  /* justify-content: center; */
  /* align-items: center; */
}

.inbox-messages-list-sender-file > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inbox-messages-list-sender-file-info {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  background-color: var(--separator);
  padding: 0.5rem;

}

.inbox-messages-list-sender-file-info > div {
  display: flex;
  gap: 0 0.5rem;
}

.inbox-messages-list-sender-file-info > div:hover {
  cursor: pointer;
  color: var(--green);
}

.inbox-messages-list-sender-file-name {
  max-width: 17ch;
  white-space: nowrap;
  overflow: hidden;
}

.inbox-messages-list-sender-video,
.inbox-messages-list-sender-image,
.inbox-messages-list-sender-file-audio,
.inbox-messages-list-sender-file-document {
  max-width: 15rem;
  margin-top: 0.5rem;
}

.inbox-messages-list-sender-file-document{
  background-color: var(--separator);
  width: 10rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 0.25rem;
}



/* ************************************************* */

.inbox-message-list-section-2 {
  padding: 1rem;
  border-top: 1px solid var(--dark-separator);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.inbox-message-list-section-2 > ul {
  position: relative;
}

.inbox-message-list-section-2 > form > textarea {
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
  border: none;
  border: 1px solid var(--no-focus);
  border-radius: 3px;
  display: block;
  width: 100%;
  max-height: 8rem;
  line-height: 1.6;
  resize: none;
}

.inbox-message-list-section-2 > form > textarea:focus {
  outline: none !important;
}

.inbox-message-list-section-2 > form > input::placeholder {
  color: var(--no-focus);
}

.inbox-message-list-section-2 > form > .inbox-attached-files-div {
  max-height: 124px;
  padding: 1rem 1rem;
  color: var(--light-heading);
  margin-bottom: 1rem;
  overflow-y: scroll;
  border: 1px solid var(--no-focus);
  border-radius: 4px;
}

.inbox-message-list-section-2 > form > .inbox-attached-files-div > ul {
}

.inbox-message-list-section-2 > form > .inbox-attached-files-div > ul > li {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  list-style: none;
  padding: 0.125rem 0.75rem;
  border-radius: 5px;
  border: 1px solid var(--dark-separator);
  background-color: var(--separator);
  display: inline-flex;
  align-items: center;
  max-width: 200px;
  font-size: 0.9rem;
}

.inbox-message-list-section-2
  > form
  > .inbox-attached-files-div
  > ul
  > li
  > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  direction: rtl;
}

.inbox-message-list-section-2
  > form
  > .inbox-attached-files-div
  > ul
  > li
  > button {
  margin-left: 0.5rem;
  border: none;
}

.inbox-message-list-section-2
  > form
  > .inbox-attached-files-div
  > .inbox-attached-files-heading {
  font-size: 10px;
  font-weight: 600;
}

/* ************************************************ */

.inbox-message-list-section-3 {
  padding: 0 1rem 1rem;
}

.inbox-message-list-section-3 > footer {
  width: 100%;
  /* padding: 1.5rem 0 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inbox-message-list-section-3 > footer > div {
  display: flex;
}

.inbox-emoji,
.inbox-attachment {
  font-size: 1.5rem;
  color: var(--light-heading);
  margin-right: 1rem;
  border-radius: 50%;
}

.inbox-emoji {
  padding: 0.5rem;
}

.inbox-attachment > label {
  padding: 0.5rem;
}

.inbox-emoji:hover,
.inbox-attachment:hover {
  background-color: var(--off-white);
  color: var(--green);
  cursor: pointer;
}

.inbox-emoji > *:hover,
.inbox-attachment > *:hover {
  cursor: pointer;
}

.inbox-message-list-section-3 > footer > button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--green);
  color: white;
  border-radius: 0.25rem;
}

.inbox-emoji-picker > em-emoji-picker {
  position: absolute;
  top: 80px;
  left: 1rem;
}

@media screen and (min-width: 600px) {
  .inbox-message-list {
    grid-template-rows: 73px calc(100vh - 81px - 60px - 73px) 60px;
  }

  .inbox-emoji-picker > div > em-emoji-picker {
    position: absolute;
    bottom: 8rem;
  }

  .inbox-main {
    display: grid;
    grid-template-columns: 18rem calc(100vw - 18rem);
  }

  .inbox-clients-list {
    border-right: 1px solid var(--dark-separator);
    overflow-y: auto;
    scroll-behavior: smooth;
    width: 18rem;
    overflow-x: hidden;
  }

  .inbox-message-list-default {
    width: calc(100vw - 18rem);
    height: calc(100vh - 81px);
  }
}

@media screen and (min-width: 900px) {
  .inbox-messages-list-sender-files {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    align-items: flex-end;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  .inbox-messages-list-sender-file-document{
    width: 15rem;
    height: 10rem;
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1180px) {
  .inbox-messages-list-sender-files {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1500px) {
  .inbox-messages-list-sender-files {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 3rem;
  }
}

.file-loader {
  width: 15rem;
  height: 9.375rem;
  background-color: #b2b2b2;
  animation: spinner 2s infinite;
  margin-top: 0.5rem;
}

.inbox-lazy-loading-user-image {
  width: 2rem;
  border-radius: 50%;
}

.inbox-lazy-loading-user-icon > svg {
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: var(--no-focus);
  color: white;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  margin-right: 1rem;
}

@keyframes spinner {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.image-loader {
  width: 15rem;
  height: 150px;
  background-color: var(--no-focus);
}

.file-upload-status-outer {
  margin-top: 0.5rem;
  background-color: var(--separator);
  max-width: 15rem;
  width: 15rem;
  /* height: 10px; */
  min-height: 15rem;
  position: relative;
  border-radius: 1rem;
}

.file-upload-status-bar {
  border-radius: 1rem;
  position: absolute;
  width: 15rem;
  height: 10px;
  max-width: 15rem;
  background-color: var(--green);
  transition: 0.3s ease-in-out;
}

.file-upload-status-percentage {
  display: none;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 45%;
}
